@import "./color_schemes/dark";

$link-color: #cba6f7;
$body-background-color: #11111b;
$body-heading-color: $grey-lt-000;
$body-text-color: $grey-lt-300;
$nav-child-link-color: $grey-dk-000;
$sidebar-color: $grey-dk-300;




