@import "./color_schemes/dark";

$link-color: #cba6f7;
$body-background-color: #11111b;
$body-heading-color: #89b4fa;
$body-text-color: #cdd6f4;
$nav-child-link-color: #cba6f7;
$sidebar-color: #11111b;






